<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>DeliverToYou</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
</head>
<body>
<br>
<br>
<br>
<br>
<div class="container">
    <div class="col-12">
        <div align="center">
            <form class="row g-3" method="post">
              <div class="col-auto">
                <label for="inputEmail" class="visually-hidden">Email</label>
                <input type="text" name="user" class="form-control" id="inputEmail" placeholder="Почта">
              </div>
              <div class="col-auto">
                <label for="inputPassword" class="visually-hidden">Password</label>
                <input type="password" name="password" class="form-control" id="inputPassword" placeholder="Пароль">
              </div>
              <div class="col-auto">
                <button type="submit" class="btn btn-primary mb-3">Войти</button>
              </div>
            </form>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</body>
</html>